*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.auth-container{
    height: 100vh;
    background: linear-gradient(90deg, #E6E6E6 0%, #A18974 100%);
    width: 100vw;
    display: flex;
    
    justify-content: center;
}
.authenticator{
    text-align: center;
}

.auth-logo{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bolder;
}

.authenticator h2{
    font-size: 30px;
}

.authenticator p{
    margin-top: 10px;
    margin-bottom: 40px;
}
.login-container{
    width: 480px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    border-radius: 10px;
}
.login-container .auth-header{
    width: 480px;
    display: flex;
}

.login-container .auth-header button{
    display: block;
    width: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    color: black;
    outline: none;
    border: none;

}
.btn-left{
    border-top-left-radius: 10px;
    /* border-top-right-radius: 10px; */
}
.btn-right{
    /* border-top-left-radius: 10px; */
    border-top-right-radius: 10px;
}

.login-container .auth-header button:hover{
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
}

.login-container .form-page-auth{
    z-index: 100;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input{
    display: block;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding-left: 50px;
    margin-bottom: 2.2rem;
    
}
input::placeholder{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

i{
    position: relative;
    top: -36px;
    left: -180px;
}

.forgot-remember{
    display: flex;
    justify-content: space-between;
}

.forgot-remember .check{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.forgot-remember .check label{
    white-space: nowrap;
    margin-left:5px;
    margin-bottom: 2.2rem;
}

.forgot-remember a{
    font-size: 14px;
    color: black;
}

.forgot-remember a:hover{
    text-decoration: underline;
}

.btn-auth {
    font-size: 18px;
    padding: 1.3rem;
    display: block;
    text-decoration: none;
    background-color: #AA9482;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    /* margin-top: 2rem; */
    border: none;
    position: relative;
    width: 100%;
}

.btn-auth:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #AA9482;
}


@media screen and (max-width:600px) {
    .login-container{
        width: 400px;
    }
    .login-container .auth-header{
        width: 400px;
    }
}






