a{
    text-decoration: none;
}

.ls-main-container{
    width: 98.8vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: linear-gradient(90deg, #E6E6E6 0%, #A18974 100%);
}
.ls-left-container{
    background-color:#E6E6E6 ;
    min-width: 25vw;
    height: 100vh;
    box-shadow: 16px 5px 16px 0 rgba(13, 13, 13, 0.2);
    border-radius: 15px;
}

.ls-left-container .ls-logo{
    height: 100px;
    width: 100px;
}

.ls-left-container p{
    margin-top: 10px;
    line-height: 1.5;
    color: #6f614a;
    padding-left: 20px;
    padding-right: 20px;
}
.ls-left-container .ls-spacer{
    height: 100px;
}

.ls-left-container h1{
    margin-top: 60px;
    font-size: 40px;
    line-height: 1.5;
}

.ls-left-container img{
    width: 100%;
    height: auto;
}


.ls-right-container{
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: center;
}

.ls-right-container .ls-step{
    font-size: 16px;
    font-weight: 400;
    color: #6f614a;
}

.ls-right-container h1{
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}

.ls-right-container label{
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.ls-right-container input,.ls-right-container select {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.ls-width-50 {
    width: 50%;
}

.ls-ml-auto {
    margin-left: auto;
}

.ls-form-container{
    display: none;
    width: 80%;
}
.ls-form-active{
    display: block;
}

.ls-btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #6f614a;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem;
}

.ls-btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #AA9482;
}
.ls-btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.ls-file-label{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    
}


input[type="file"] {
    display: none;
}

@media only screen and (max-width:1500px){
    .ls-left-container{
        max-width: 30vw;
    }
}

@media only screen and (max-width:1150px){
    .ls-left-container{
        max-width: 45vw;
    }
}

@media only screen and (max-width:900px){
    .ls-left-container{
        display: none;
    }
}
