.filter-btn-grp {
  display: flex;
  justify-content: space-between;
}
.filter-btn {
  padding: 0.65rem;
  display: block;
  text-decoration: none;
  background-color:#6f614a;
  color: white;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
  font-size: 17px;
}

.filter-btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #AA9482;
}

.filter-lawyerProfile {
  display: flex;
  border: solid;
  padding: 20px;
  justify-content: space-between;
  margin: 50px 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
}

.filter-profileImg {
  display: flex;
}

.filter-profileImg img {
  width: 180px;
  height: 240px;
  object-fit: cover;
  margin-right: 20px;
}

.filter-profileImg h3 {
  margin-top: 20px;
  font-size: 25px;
}

.filter-profileImg p {
  font-size: 20px;
  margin: 10px 0;
}

.filter-rightBox {
  font-size: 20px;
}

.filter-rightBox p {
  margin: 20px 0 20px 20px;
}

@media only screen and (max-width:1275px){
  .filter-lawyerProfile{
    margin: 50px 0;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
}